* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000000;
  background: -moz-linear-gradient(top, #000000 0%, #00568b 44%, #ffffff 100%);
  background: -webkit-linear-gradient(
    top,
    #000000 0%,
    #00568b 44%,
    #ffffff 100%
  );
  background: linear-gradient(to bottom, #000000 0%, #00568b 44%, #ffffff 100%);
}

header {
  background-color: white;
  height: 60px;
  position: sticky;
  top: 0;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  padding: 15px;
  color: #00568b;
  font-size: 2rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.album {
  background-color: white;
  width: 25rem;
  height: 25rem;
  margin: 10px;
  padding: 10px;
  border-radius: 3%;
}

.cover {
  height: 12.5rem;
  margin: 4px;
}

p {
  text-align: center;
  font-style: 1rem;
}

span::after {
  content: "...";
}

a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

a:visited {
  color: red;
}

a:hover {
  color: #00568b;
}

img {
  width: 12.5rem;
  display: block;
  margin: auto;
  cursor: pointer;
  -webkit-transition: all 2s 0s ease-in-out;
  -moz-transition: all 2s 0s ease-in-out;
  -o-transition: all 2s 0s ease-in-out;
  transition: all 2s 0s ease-in-out;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
}

img:hover {
  transform: scale(1.1);
}

footer {
  background-color: white;
  position: sticky;
  bottom: 0;
}

.innerfoot {
  color: #00568b;
  text-align: center;
}
